@font-face {
    font-family: 'Poppins-Medium';
    src: url('/magister_quiz/static/src/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('/magister_quiz/static/src/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.kahoot-style {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    border-radius: 15px;
    padding: 20px;
    color: white;
    font-family: 'Comic Sans MS', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.kahoot-button-true {
    background-color: white;
    color: #26ad15;
    border: 2px solid;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 1s ease;
}

.kahoot-button-true:hover {
    background-color: #26ad15;
    color: white;
}

.kahoot-button-false {
    background-color: white;
    color: #dd0d0d;
    border: 2px solid;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 1s ease;
}

.kahoot-button-false:hover {
    background-color: #dd0d0d;
    color: white;
}

.o_survey_choice_btn {
    box-shadow: none !important;
    color: white !important;
    background: linear-gradient(135deg, #FF512F, #DD2476);
}

.o_survey_question_text_box,
.o_survey_question_numerical_box,
.o_survey_question_datetime {
    border: 2px solid #DD2476 !important;
    border-radius: 10px !important;
    padding: 3px !important;
}

.o_survey_question_matrix th {
    background-color: #DD2476 !important;
}

.o_survey_matrix_btn {
    background-color: #dd247760 !important;
    color: #DD2476 !important;
}

.btn-primary,
.btn-primary:hover {
    background: linear-gradient(135deg, #9681ac 0%, #921fc0 100%);
    border: white !important;
    box-shadow: white !important;
    color: white !important;
    font-family: 'Poppins-Medium';
}

.btn-secondary,
.btn-secondary:hover {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    border: white !important;
    color: white !important;
    font-family: 'Poppins-Medium';
}

.text-break {
    font-family: 'Poppins-Medium';
}

p{
    font-family: 'Poppins-Light';
}

div{
    font-family: 'Poppins-Light';
}

/* 


.text-primary{
    color: #104ba5 !important
}

.o_survey_form .o_survey_choice_btn {
    cursor: pointer;
    background-color: rgba(46, 109, 151, 0.14) !important;
    box-shadow: #104ba5 0px 0px 0px 1px !important;
    color: #103f91 !important;
}

.o_survey_question_matrix th{ 
    background-color: #225db6 !important;
    border-color: #143464;
}

.o_survey_form .o_survey_question_matrix td:hover {
    background-color: rgba(50, 100, 156, 0.5);
    cursor: pointer;
} */